annotated-types==0.7.0
anyio==4.4.0
certifi==2024.8.30
distlib==0.3.8
distro==1.9.0
exceptiongroup==1.2.2
fastapi==0.114.2
filelock==3.16.0
greenlet==3.1.0
h11==0.14.0
httpcore==1.0.5
httpx==0.27.2
idna==3.8
importlib_resources==6.4.5
jiter==0.5.0
numpy==1.24.4
openai==1.44.1
pandas==2.0.3
pipenv==2024.0.1
platformdirs==4.3.2
pycountry==24.6.1
pydantic==2.9.1
pydantic_core==2.23.3
PyMySQL==1.1.1
python-dateutil==2.9.0.post0
pytz==2024.1
six==1.16.0
sniffio==1.3.1
SQLAlchemy==2.0.34
-e git+ssh://git@github.com/Hightainment/hightainment-web.git@81d87e0af7f246938bfc0b36d00377aaf8597232#egg=src&subdirectory=amplify/backend/function/hightainmentApiLambda/src
starlette==0.38.5
tqdm==4.66.5
typing_extensions==4.12.2
tzdata==2024.1
virtualenv==20.26.4
zipp==3.20.2
